@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #ffffff;
  --background: #f9f6f2;
  --backgroundLight: #92b2f5;
  --primary: #ff6b6b;
  --bars: #1A2E66;
  --text: #333333;
  --grey: #e0e0e0;
  --lighterGrey: #eeeded;
  --danger: #fa0606;
  --header: #004646;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  height: max-content;
  width: 100vw;
  overflow-x: hidden;
}

.custom-dark::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.5;
}

.brands-container{
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  justify-items: center;
  justify-content: space-between;
}

.hamburger{
  position: relative;
  height: 40px;
  width: 40px;
}

/*Frequently begins*/

#frequently{
  height: max-content;
  width: 100%;
  padding: 50px 80px;
  background: var(--accent);
}

.frequently-header{
  height: max-content;
  width: 100%;
  padding: 0 0 50px 0;
}

.frequently-header h2{
  font-size: 25px;
  font-weight: 700;
}

.frequently-container{
  height: max-content;
  width: 100%;
}

.frequent-question{
  height: max-content;
  width: 100%;
  display: flex;
  background: var(--lighterGrey);
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px){
  #frequently{
    height: max-content;
    width: 100%;
    padding: 10px 10px;
    background: var(--accent);
  }
  .frequent-question{
    padding: 10px;
    margin-bottom: 20px;
  }
  .brands-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

.frequent-question-left{
  height: max-content;
  width: 70%;
}

.frequent-question-right{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.frequent-question-left h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.frequequent-question-left-content{
  height: max-content;
  width: 100%;
  display: none;
}

.frequequent-question-left-content.active{
  transition: 0.3s ease-in-out;
  display: block;
}

.frequequent-question-left-content p{
  font-size: 17px;
  font-weight: 400;
}

.frequent-drop-down-container{
  height: max-content;
  width: max-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.frequent-drop-down-container.active{
  transform: rotate(-180deg);
}